svg {
    overflow: visible
}

text {
    font: 14px 'Courier New', Courier, monospace;
}

input {
    font: 10px 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
}

textarea {
    font: 10px 'Courier New', Courier, monospace;
}

p {
    margin: 0 0 10px 0;
    padding: 0;
}

.line {}

.line svg {
    display: inline;
    vertical-align: middle
}

.labels text, #levels text, #label {
    text-anchor: middle;
    font: 10px 'Arial Narrow', sans-serif;
    font-weight: bold;
}

.labels text.left, #levels text.left {
    text-anchor: start;
    font-size: 14px;
}

a {
    color: black;
    text-decoration: none;
}

.blue {
    fill: blue;
}

/* http://paletton.com/palette.php?uid=30f0u0kk8qbaaFtfwuQo4mgswhv */

.background {
    fill: inherit;
}

use.red {
    fill: #F6A17F;
}

use.green {
    fill: #A1DB71;
}

use.blue {
    fill: #88A9C2;
}

/* fschne: Support more colors */

use.colorQ {
    fill: #A9A9A9;
}

use.colorE {
    fill: #FF5733;
}

use.colorA {
    fill: #FFD700;
}

use.colorS {
    fill: #FF8C00;
}

use.colorS {
    fill: #A0522D;
}

use.colorD {
    fill: #1E90FF;
}

use.colorF {
    fill: #008000;
}

use.colorF {
    fill: #008000;
}

use.colorN {
    fill: black;
}

use {
    fill: white;
}

.key {
    color: forestgreen;
    fill: forestgreen;
    font-weight: bold;
}

.invisible {
    display: none;
}

.center:hover .dot {
    opacity: 1;
}

#ui {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#background {
    transition: fill 500ms linear;
}

#help {
    transition: fill 500ms linear;
}

text {
    fill: black;
}

#help {
    fill: #fffff0;
}

/* ivory and light grey */

#background {
    fill: #d3d3d3;
}

svg.black #background {
    fill: black;
}

svg.white #background {
    fill: white;
}

svg.grid #background {
    fill: url(#grid);
}

/* http://www.color-hex.com/color/01b0f1
   https://de.wikipedia.org/wiki/Non-Photo_Blue */

svg.blue * {
    stroke: #005878;
}

svg.blue *[fill=black], svg.blue a, svg.blue text, svg.blue tspan {
    stroke: none;
    fill: #005878;
}

svg.blue .key {
    fill: white;
}

svg.blue .blue {
    text-decoration: underline;
    fill: inherit;
}

svg.blue #background, svg.blue #help {
    fill: #01b0f1;
}

.menu div {
    background: white;
    padding: 10px;
    overflow: scroll;
    font: 14px 'Courier New', Courier, monospace
}

.menu span {
    display: inline-block;
    width: 32ex
}

.menu a {
    color: blue
}